<div class="row">
    <div class="pt-2 pb-0" id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4">
                    <h6 class="breadcrumbs-title">
                        Output Barcode History
                        <span
                            *ngIf="WarehouseOutputDetailBarcodeService.List">({{WarehouseOutputDetailBarcodeService.List.length}}
                            items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l4">
                    <h6 class="breadcrumbs-title">
                        Quantity: {{Count |
                        number:
                        '1.0-3'}}
                    </h6>
                </div>
                <div class="col s12 m6 l4 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Back">
                                <<< Back </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a title="Warehouse">Warehouse</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/WarehouseOutputDetailBarcode" title="Output Barcode History">Output
                                Barcode History</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l1">
                    <select class="browser-default form-select" (change)="CompanyChange()"
                        [(ngModel)]="WarehouseOutputDetailBarcodeService.BaseParameter.CompanyID">
                        <option *ngFor="let item of CompanyService.ListFilter;" [value]="item.ID">
                            {{item.Name}}
                        </option>
                    </select>
                </div>
                <div class="col s12 m12 l1">
                    <select class="browser-default form-select"
                        [(ngModel)]="WarehouseOutputDetailBarcodeService.BaseParameter.CategoryDepartmentID">
                        <option *ngFor="let item of CategoryDepartmentService.ListFilter;" [value]="item.ID">
                            {{item.Name}}
                        </option>
                    </select>
                </div>
                <!-- <div class="col s12 m12 l1">
                    <select class="browser-default form-select"
                        [(ngModel)]="WarehouseOutputDetailBarcodeService.BaseParameter.Year">
                        <option *ngFor="let item of WarehouseOutputDetailBarcodeService.ListYear;"
                            [value]="item.SortOrder">
                            {{item.SortOrder}}
                        </option>
                    </select>
                </div>
                <div class="col s12 m12 l1">
                    <select class="browser-default form-select"
                        [(ngModel)]="WarehouseOutputDetailBarcodeService.BaseParameter.Month">
                        <option *ngFor="let item of WarehouseOutputDetailBarcodeService.ListMonth;"
                            [value]="item.SortOrder">
                            {{item.SortOrder}}
                        </option>
                    </select>
                </div>
                <div class="col s12 m12 l1">
                    <select class="browser-default form-select"
                        [(ngModel)]="WarehouseOutputDetailBarcodeService.BaseParameter.Day">
                        <option *ngFor="let item of WarehouseOutputDetailBarcodeService.ListDay;"
                            [value]="item.SortOrder">
                            {{item.SortOrder}}
                        </option>
                    </select>
                </div> -->
                <div class="col s12 m12 l1">
                    <input [ngModel]="WarehouseOutputDetailBarcodeService.BaseParameter.DateBegin | date:'yyyy-MM-dd'"
                        style="text-align: right;" (ngModelChange)="DateBegin($event)"
                        (keyup.enter)="WarehouseOutputDetailBarcodeSearch()" [ngModelOptions]="{ updateOn: 'blur' }" type="date"
                        class="form-control" autocomplete="off">
                </div>
                <div class="col s12 m12 l1">
                    <input [ngModel]="WarehouseOutputDetailBarcodeService.BaseParameter.DateEnd | date:'yyyy-MM-dd'"
                        style="text-align: right;" (ngModelChange)="DateEnd($event)"
                        (keyup.enter)="WarehouseOutputDetailBarcodeSearch()" [ngModelOptions]="{ updateOn: 'blur' }" type="date"
                        class="form-control" autocomplete="off">
                </div>
                <div class="col s12 m12 l3">
                    <input #SearchString [(ngModel)]="WarehouseOutputDetailBarcodeService.BaseParameter.SearchString"
                        placeholder="Search ..." class="form-control"
                        (keyup.enter)="WarehouseOutputDetailBarcodeSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <label>
                        <input type="checkbox" class="form-check-input" name="Active"
                            [(ngModel)]="WarehouseOutputDetailBarcodeService.BaseParameter.Active" />
                        <span>Active</span>
                    </label>
                </div>
                <div class="col s12 m12 l1">
                    <a title="search" (click)="WarehouseOutputDetailBarcodeSearch()"
                        class="btn waves-effect waves-light green darken-1" style="width: 100%;">
                        <i class="material-icons">search</i>
                    </a>
                </div>
                <div class="col s12 m12 l1">
                    <button title="Excel" (click)="WarehouseOutputDetailBarcodeExcel()"
                        class="btn waves-effect waves-light green darken-1" style="width: 100%;">
                        <i class="material-icons">cloud_download</i>
                    </button>
                </div>
                <div class="col s12 m12 l1">
                    <button title="Excel" (click)="WarehouseOutputPrint()"
                        class="btn waves-effect waves-light green darken-1" style="width: 100%;">
                        <i class="material-icons">print</i>
                    </button>
                </div>
                <div class="col s12 m12 l1">
                    <button title="Excel" (click)="WarehouseOutputDetailBarcodeAutoSync()"
                        class="btn waves-effect waves-light cyan darken-1" style="width: 100%;">
                        <i class="material-icons">sync</i>
                    </button>
                </div>
                <div class="KhungOverflow70" #TABLE>
                    <table #table *ngIf="!NotificationService.IsMobile" mat-table matSort
                        #WarehouseOutputDetailBarcodeSort="matSort"
                        [dataSource]="WarehouseOutputDetailBarcodeService.DataSource">
                        <ng-container matColumnDef="No">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                No
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="WarehouseOutputDetailBarcodePaginator">
                                    {{
                                    WarehouseOutputDetailBarcodePaginator.pageSize *
                                    WarehouseOutputDetailBarcodePaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ID}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="WarehouseInputID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Input ID</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" class="link-primary" target="_blank"
                                    routerLink="/WarehouseInputInfo/{{element.WarehouseInputID}}"><b>{{element.WarehouseInputID}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="WarehouseInputName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Input</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" class="link-primary" target="_blank"
                                    routerLink="/WarehouseInputInfo/{{element.WarehouseInputID}}"><b>{{element.WarehouseInputName}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ParentID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent ID</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" class="link-primary" target="_blank"
                                    routerLink="/WarehouseOutputInfo/{{element.ParentID}}"><b>{{element.ParentID}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ParentName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" class="link-primary" target="_blank"
                                    routerLink="/WarehouseOutputInfo/{{element.ParentID}}"><b>{{element.ParentName}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateDate</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateDate"
                                    name="CreateDate{{element.ID}}" [(ngModel)]="element.CreateDate">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateUserID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateUserID</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateUserID"
                                    name="CreateUserID{{element.ID}}" [(ngModel)]="element.CreateUserID">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateUserCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateUserCode</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateUserCode"
                                    name="CreateUserCode{{element.ID}}" [(ngModel)]="element.CreateUserCode">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateUserName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateUserName</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateUserName"
                                    name="CreateUserName{{element.ID}}" [(ngModel)]="element.CreateUserName">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Update Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.UpdateDate |
                                date:'dd/MM/yyyy HH:mm:ss'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateUserID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdateUserID</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="UpdateUserID"
                                    name="UpdateUserID{{element.ID}}" [(ngModel)]="element.UpdateUserID">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateUserCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Update User</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.UpdateUserCode}} | {{element.UpdateUserName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateUserName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdateUserName</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="UpdateUserName"
                                    name="UpdateUserName{{element.ID}}" [(ngModel)]="element.UpdateUserName">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="RowVersion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>RowVersion</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="RowVersion"
                                    name="RowVersion{{element.ID}}" [(ngModel)]="element.RowVersion">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SortOrder">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>SortOrder</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="SortOrder"
                                    name="SortOrder{{element.ID}}" [(ngModel)]="element.SortOrder">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.Active}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Code" name="Code{{element.ID}}"
                                    [(ngModel)]="element.Code">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Name" name="Name{{element.ID}}"
                                    [(ngModel)]="element.Name">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Display">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Part No</th>
                            <td mat-cell *matCellDef="let element" style="min-width: 400px;">
                                <div *ngIf="element.ID>0">
                                    <a style="cursor: pointer;" class="link-primary"
                                        (click)="MaterialModal(element)"><b>{{element.MaterialName}}</b></a>
                                </div>
                                <div *ngIf="element.ID==0">
                                    <!-- <mat-select class="browser-default form-select"
                                            style="height: 40px; border: 1px solid #000000;"
                                            [(ngModel)]="element.MaterialID">
                                            <input placeholder="Search..." class="form-control"
                                                (keyup)="MaterialFilter02($event.target.value)">
                                            <mat-option *ngFor="let item of MaterialService.ListFilter02"
                                                [value]="item.ID" style="font-size: 16px;">
                                                {{item.Code}} | {{item.Name}}
                                            </mat-option>
                                        </mat-select> -->
                                    <select class="browser-default form-select form-control"
                                        [(ngModel)]="element.MaterialID">
                                        <option *ngFor="let item of MaterialService.ListFilter02;" [value]="item.ID">
                                            {{item.Code}} | {{item.Name}}</option>
                                    </select>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Description"
                                    name="Description{{element.ID}}" [(ngModel)]="element.Description">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Note">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Note" name="Note{{element.ID}}"
                                    [(ngModel)]="element.Note">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="FileName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>OEM (Company)</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.FileName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="MaterialID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>MaterialID</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="MaterialID"
                                    name="MaterialID{{element.ID}}" [(ngModel)]="element.MaterialID">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="MaterialName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>PART NO</th>
                            <td mat-cell *matCellDef="let element">
                                <a style="cursor: pointer;" class="link-primary"
                                    (click)="MaterialModal(element)"><b>{{element.MaterialName}}</b></a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                            <td mat-cell *matCellDef="let element">
                                <b style="color: red;">{{element.Quantity |
                                    number:
                                    '1.0-3'}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Tax">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Tax" name="Tax{{element.ID}}"
                                    [(ngModel)]="element.Tax">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TotalTax">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TotalTax</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="TotalTax"
                                    name="TotalTax{{element.ID}}" [(ngModel)]="element.TotalTax">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Discount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Discount"
                                    name="Discount{{element.ID}}" [(ngModel)]="element.Discount">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TotalDiscount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TotalDiscount</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="TotalDiscount"
                                    name="TotalDiscount{{element.ID}}" [(ngModel)]="element.TotalDiscount">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TotalFinal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>TotalFinal</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="TotalFinal"
                                    name="TotalFinal{{element.ID}}" [(ngModel)]="element.TotalFinal">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Coefficient">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Coefficient</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Coefficient"
                                    name="Coefficient{{element.ID}}" [(ngModel)]="element.Coefficient">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="QuantityInvoice">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
                            <td mat-cell *matCellDef="let element">
                                <b>{{element.QuantityInvoice}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="QuantityRequest">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Request</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right;">
                                <b>{{element.QuantityRequest}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CategoryUnitName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                <div *ngIf="element.ID==0">
                                    <select class="browser-default form-select form-control"
                                        [(ngModel)]="element.CategoryUnitID">
                                        <option *ngFor="let item of CategoryUnitService.ListFilter;" [value]="item.ID">
                                            {{item.Name}}</option>
                                    </select>
                                </div>
                                <div *ngIf="element.ID>0">
                                    {{element.CategoryUnitName}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Barcode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
                            <td mat-cell *matCellDef="let element">
                                <b>{{element.Barcode}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CategoryLocationName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.CategoryLocationName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="DateScan">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Scan</th>
                            <td mat-cell *matCellDef="let element">
                                <b>{{element.DateScan |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="DateInput">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Input</th>
                            <td mat-cell *matCellDef="let element">
                                <b>{{element.DateInput |
                                    date:'dd/MM/yyyy'}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="IsSNP">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>SNP</th>
                            <td mat-cell *matCellDef="let element">
                                <!-- <label>
                                        <input class="form-check-input" type="checkbox" name="IsSNP{{element.ID}}"
                                            [(ngModel)]="element.IsSNP">
                                        <span></span>
                                    </label> -->
                                {{element.IsSNP}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="QuantitySNP">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity SNP</th>
                            <td mat-cell *matCellDef="let element"
                                style="text-align: right; font-weight: bold; font-size: 14px;">
                                {{element.QuantitySNP |
                                number:
                                '1.0-3'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="QuantityActual">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actual</th>
                            <td mat-cell *matCellDef="let element"
                                style="text-align: right; font-weight: bold; font-size: 14px; color: green;">
                                {{element.QuantityActual |
                                number:
                                '1.0-3'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="QuantityGAP">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>GAP</th>
                            <td mat-cell *matCellDef="let element"
                                style="text-align: right; font-weight: bold; font-size: 14px; color: red;">
                                {{element.QuantityGAP |
                                number:
                                '1.0-3'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                            <td mat-cell *matCellDef="let element">
                                <b>{{element.Price |
                                    number:
                                    '1.0-3'}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actual</th>
                            <td mat-cell *matCellDef="let element">
                                <b>{{element.Total |
                                    number:
                                    '1.0-3'}}</b>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="WarehouseOutputDetailBarcodeSave(element)"
                                    class="btn waves-effect waves-light cyan" title="Save">
                                    <i class="material-icons">save</i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a *ngIf="element.ID>0" (click)="WarehouseOutputDetailBarcodeDelete(element)"
                                    class="btn-floating waves-effect waves-light red" style="padding-top: 3px;"
                                    title="Delete">
                                    <i class="material-icons">delete_outline</i>
                                </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="WarehouseOutputDetailBarcodeService.DisplayColumns035">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: WarehouseOutputDetailBarcodeService.DisplayColumns035;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile"
                        #WarehouseOutputDetailBarcodePaginator="matPaginator" [pageSizeOptions]="[10,20,50,100,1000000]"
                        [pageSize]="20" [showFirstLastButtons]></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="WarehouseOutputDetailBarcodeService.IsShowLoading"></app-loading>