<div class="row">
    <div class="col s12 m12 l11">
        <h6>Finish Goods/Semi-Finished: Material</h6>
    </div>
    <div class="col s12 m12 l1 right-align-md">
        <button title="Close" class="btn waves-effect waves-light purple lightrn-1" (click)="Close()">
            <i class="material-icons">close</i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l5">
        <h6>Material(s) <span
                *ngIf="WarehouseOutputDetailBarcodeMaterialService.ListFilter">({{WarehouseOutputDetailBarcodeMaterialService.ListFilter.length}}
                items)</span></h6>
    </div>
    <div class="col s12 m12 l6">
        <input [(ngModel)]="WarehouseOutputDetailBarcodeMaterialService.BaseParameter.SearchString"
            placeholder="Search ..." class="form-control" (keyup.enter)="WarehouseOutputDetailBarcodeMaterialSearch()">
    </div>
    <div class="col s12 m12 l1">
        <a title="search" (click)="WarehouseOutputDetailBarcodeMaterialSearch()"
            class="btn waves-effect waves-light green darken-1" style="width: 100%;">
            <i class="material-icons">search</i>
        </a>
    </div>
    <div class="KhungOverflow">
        <table *ngIf="!NotificationService.IsMobile" mat-table matSort
            #WarehouseOutputDetailBarcodeMaterialSortFilter="matSort"
            [dataSource]="WarehouseOutputDetailBarcodeMaterialService.DataSourceFilter">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    No
                </th>
                <td mat-cell *matCellDef="let element; index as i;">
                    <div *ngIf="WarehouseOutputDetailBarcodeMaterialPaginatorFilter">
                        {{
                        WarehouseOutputDetailBarcodeMaterialPaginatorFilter.pageSize *
                        WarehouseOutputDetailBarcodeMaterialPaginatorFilter.pageIndex + i + 1
                        }}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">
                    {{element.ID}}
                </td>
            </ng-container>
            <ng-container matColumnDef="WarehouseOutputDetailBarcodeID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode ID</th>
                <td mat-cell *matCellDef="let element">
                    {{element.WarehouseOutputDetailBarcodeID}}
                </td>
            </ng-container>
            <ng-container matColumnDef="MaterialName01">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Finish Goods/Semi-Finished</th>
                <td mat-cell *matCellDef="let element">
                    {{element.MaterialName01}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Display">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
                <td mat-cell *matCellDef="let element" style="white-space: pre;">
                    <b>{{element.Display}}</b>
                </td>
            </ng-container>
            <ng-container matColumnDef="MaterialName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Material</th>
                <td mat-cell *matCellDef="let element">
                    {{element.MaterialName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="CategoryUnitName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
                <td mat-cell *matCellDef="let element">
                    {{element.CategoryUnitName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                    <b>{{element.Quantity |
                        number:
                        '1.0-3'}}</b>
                </td>
            </ng-container>
            <ng-container matColumnDef="ECN">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ECN</th>
                <td mat-cell *matCellDef="let element">
                    <a style="cursor: pointer;" class="link-primary" target="_blank"
                        routerLink="/BOMInfo/{{element.BOMID}}"><b>{{element.ECN}}</b></a>
                </td>
            </ng-container>
            <ng-container matColumnDef="BOMECNVersion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
                <td mat-cell *matCellDef="let element">
                    {{element.BOMECNVersion}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="WarehouseOutputDetailBarcodeMaterialService.DisplayColumns001">
            </tr>
            <tr mat-row *matRowDef="let row; columns: WarehouseOutputDetailBarcodeMaterialService.DisplayColumns001;">
            </tr>
        </table>
        <mat-paginator *ngIf="!NotificationService.IsMobile"
            #WarehouseOutputDetailBarcodeMaterialPaginatorFilter="matPaginator" [pageSizeOptions]="[10,20,50,100]"
            [pageSize]="1000000" [showFirstLastButtons]></mat-paginator>
    </div>
</div>
<app-loading *ngIf="WarehouseOutputDetailBarcodeMaterialService.IsShowLoading"></app-loading>