@inject IMAINService _MAINService
@inject CookieHelper CookieHelper

@{
	bool IsButtonfind = false;
	bool IsButtonadd = false;
	bool IsButtonsave = false;
	bool IsButtondelete = false;
	bool IsButtoncancel = false;
	bool IsButtoninport = false;
	bool IsButtonexport = false;
	bool IsButtonprint = false;

	BaseResult BaseResult = new BaseResult();
	BaseParameter BaseParameter = new BaseParameter();
	string url = "MAIN";
	try
	{
		//truyền biến User ID thay thê cho Cookeis đẻ lấy phan quyền action cho button
		BaseParameter.USER_IDX = CookieHelper.GetCookie(GlobalHelper.USER_IDX) ?? string.Empty;
		BaseResult = await _MAINService.Main_Shown(BaseParameter);
		if (BaseResult.ListtsauthTranfer != null)
		{
			BaseResult.tsauthTranfer = BaseResult.ListtsauthTranfer.Where(o => o.SCRN_PATH == url).FirstOrDefault();
			if (BaseResult.tsauthTranfer != null)
			{
				IsButtonfind = bool.Parse(BaseResult.tsauthTranfer.IQ_AUTH_YN);
				IsButtonadd = bool.Parse(BaseResult.tsauthTranfer.RGST_AUTH_YN);
				IsButtonsave = bool.Parse(BaseResult.tsauthTranfer.MDFY_AUTH_YN);
				IsButtondelete = bool.Parse(BaseResult.tsauthTranfer.DEL_AUTH_YN);
				IsButtoncancel = bool.Parse(BaseResult.tsauthTranfer.CAN_AUTH_YN);
				IsButtoninport = bool.Parse(BaseResult.tsauthTranfer.EXCL_AUTH_YN);
				IsButtonexport = bool.Parse(BaseResult.tsauthTranfer.DNLD_AUTH_YN);
				IsButtonprint = bool.Parse(BaseResult.tsauthTranfer.PRNT_AUTH_YN);
			}
		}
	}
	catch (Exception ex)
	{
		string mes = ex.Message;
	}
}
@{
	ViewData["Title"] = "A01_PDF" + " (" + url + ")";
}

<div class="col s12 m12 l12">
	<div class="card card card-default scrollspy">
		<div class="card-content">
			<div class="row">
				<div class="col s12 m12 l12">
					<h6><b>A01_PDF (@url)</b></h6>
				</div>

			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/A01_PDF.js"></script>

