@inject IMAINService _MAINService
@inject CookieHelper CookieHelper
@{
    string version = GlobalHelper.InitializationDateTimeCode;
    bool IsButtonfind = false;
    bool IsButtonadd = false;
    bool IsButtonsave = false;
    bool IsButtondelete = false;
    bool IsButtoncancel = false;
    bool IsButtoninport = false;
    bool IsButtonexport = false;
    bool IsButtonprint = false;

    BaseResult BaseResult = new BaseResult();
    BaseParameter BaseParameter = new BaseParameter();
    string cookie = string.Empty;
    cookie = CookieHelper.GetCookie(GlobalHelper.UserID);
    string UserID = cookie;
    string url = "C02_COUNT";
    try
    {
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
}

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewData["Title"] = "ORDER_COUNT (" + url + ")";
}

<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l6">
                    <h6><b>ORDER_COUNT (@url)</b></h6>
                </div>                
                <div class="col s12 m12 l6 right-align-md">                  
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l3">
                    <div>
                        <label>
                            <input id="RadioButton1" name="C02_COUNT" type="radio" />
                            <span>Order Date</span>
                        </label>
                        <label>
                            <input id="RadioButton2" name="C02_COUNT" type="radio" />
                            <span>Machine</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="KhungOverflow60">
                <table class="responsive-table" id="DataGridView1Table">
                    <thead class="sticky-header">
                        <tr>
                            <th>MC</th>
                            <th>Date</th>
                            <th>SUM</th>
                            <th>Stay</th>
                            <th>Working</th>
                            <th>Complete</th>
                            <th>Close</th>                          
                        </tr>
                    </thead>
                    <tbody id="DataGridView1">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/C02_COUNT.js?v=@version"></script>

