<div class="row">
    <div class="pt-2 pb-0" id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6 class="breadcrumbs-title">
                        Department
                        <span *ngIf="CategoryDepartmentService.List">({{CategoryDepartmentService.List.length}}
                            items)</span>
                    </h6>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:history.back()" title="Back">
                                <<< Back </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/Homepage" title="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a title="Category">Category</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/CategoryDepartment" title="Department">Department</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="col s12 m12 l2">
                    <select class="browser-default form-select form-control"
                        [(ngModel)]="CategoryDepartmentService.BaseParameter.CompanyID">                       
                        <option *ngFor="let item of CompanyService.ListFilter;" [value]="item.ID">
                            {{item.Name}}</option>
                    </select>
                </div>
                <div class="col s12 m12 l9">
                    <input [(ngModel)]="CategoryDepartmentService.BaseParameter.SearchString" placeholder="Search ..."
                        class="form-control" (keyup.enter)="CategoryDepartmentSearch()">
                </div>
                <div class="col s12 m12 l1">
                    <a title="search" (click)="CategoryDepartmentSearch()"
                        class="btn waves-effect waves-light green darken-1" style="width: 100%;">
                        <i class="material-icons">search</i>
                    </a>
                </div>
                <!-- <div class="col s12 m12 l1">
                    <a title="Sync from MES" (click)="CreateAutoAsync()"
                        class="btn waves-effect waves-light cyan darken-1" style="width: 100%;">
                        <i class="material-icons">sync</i>
                    </a>
                </div> -->
                <div class="KhungOverflow70">
                    <table *ngIf="!NotificationService.IsMobile" mat-table matSort #CategoryDepartmentSort="matSort"
                        [dataSource]="CategoryDepartmentService.DataSource">
                        <ng-container matColumnDef="No">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                No
                            </th>
                            <td mat-cell *matCellDef="let element; index as i;">
                                <div *ngIf="CategoryDepartmentPaginator">
                                    {{
                                    CategoryDepartmentPaginator.pageSize *
                                    CategoryDepartmentPaginator.pageIndex + i + 1
                                    }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ID}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ParentID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ParentID</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="ParentID"
                                    name="ParentID{{element.ID}}" [(ngModel)]="element.ParentID">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ParentName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent</th>
                            <td mat-cell *matCellDef="let element" style="width: 200px;">
                                <select class="browser-default form-select form-control" [(ngModel)]="element.ParentID">
                                    <option *ngFor="let item of CategoryDepartmentService.List;"
                                        [value]="item.ID">
                                        [{{item.ID}}] {{item.Name}}</option>
                                </select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateDate</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateDate"
                                    name="CreateDate{{element.ID}}" [(ngModel)]="element.CreateDate">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateUserID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateUserID</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateUserID"
                                    name="CreateUserID{{element.ID}}" [(ngModel)]="element.CreateUserID">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateUserCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateUserCode</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateUserCode"
                                    name="CreateUserCode{{element.ID}}" [(ngModel)]="element.CreateUserCode">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateUserName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CreateUserName</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="CreateUserName"
                                    name="CreateUserName{{element.ID}}" [(ngModel)]="element.CreateUserName">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdateDate</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="UpdateDate"
                                    name="UpdateDate{{element.ID}}" [(ngModel)]="element.UpdateDate">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateUserID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdateUserID</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="UpdateUserID"
                                    name="UpdateUserID{{element.ID}}" [(ngModel)]="element.UpdateUserID">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateUserCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdateUserCode</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="UpdateUserCode"
                                    name="UpdateUserCode{{element.ID}}" [(ngModel)]="element.UpdateUserCode">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="UpdateUserName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>UpdateUserName</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="UpdateUserName"
                                    name="UpdateUserName{{element.ID}}" [(ngModel)]="element.UpdateUserName">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="RowVersion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>RowVersion</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="RowVersion"
                                    name="RowVersion{{element.ID}}" [(ngModel)]="element.RowVersion">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SortOrder">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sort</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="number" placeholder="SortOrder"
                                    name="SortOrder{{element.ID}}" [(ngModel)]="element.SortOrder">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Active">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Active
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="Active{{element.ID}}"
                                        [(ngModel)]="element.Active">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="IsSync">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Warehouse
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="IsSync{{element.ID}}"
                                        [(ngModel)]="element.IsSync">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="IsFinishGoods">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Finish Goods
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="IsFinishGoods{{element.ID}}"
                                        [(ngModel)]="element.IsFinishGoods">
                                    <span></span>
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Code" name="Code{{element.ID}}"
                                    [(ngModel)]="element.Code">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Name" name="Name{{element.ID}}"
                                    [(ngModel)]="element.Name">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Display">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead No</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Lead No"
                                    name="Display{{element.ID}}" [(ngModel)]="element.Display">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Description"
                                    name="Description{{element.ID}}" [(ngModel)]="element.Description">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Note">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="Note" name="Note{{element.ID}}"
                                    [(ngModel)]="element.Note">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="FileName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>FileName</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="text" placeholder="FileName"
                                    name="FileName{{element.ID}}" [(ngModel)]="element.FileName">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="CompanyName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
                            <td mat-cell *matCellDef="let element" style="width: 200px;">
                                <select class="browser-default form-select form-control"
                                    [(ngModel)]="element.CompanyID">
                                    <option *ngFor="let item of CompanyService.ListFilter;" [value]="item.ID">
                                        {{item.Name}}</option>
                                </select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="MESID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>MESID</th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" type="number" placeholder="MESID" name="MESID{{element.ID}}"
                                    [(ngModel)]="element.MESID">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Save">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="CategoryDepartmentSave(element)" class="btn waves-effect waves-light cyan"
                                    title="Save">
                                    <i class="material-icons">save</i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a *ngIf="element.ID>0" (click)="CategoryDepartmentDelete(element)"
                                    class="btn-floating waves-effect waves-light red" title="Delete">
                                    <i class="material-icons">delete_outline</i>
                                </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="CategoryDepartmentService.DisplayColumns005">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: CategoryDepartmentService.DisplayColumns005;">
                        </tr>
                    </table>
                    <mat-paginator *ngIf="!NotificationService.IsMobile" #CategoryDepartmentPaginator="matPaginator"
                        [pageSizeOptions]="[10,20,50,100,1000000]" [pageSize]="10"
                        [showFirstLastButtons]></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="CategoryDepartmentService.IsShowLoading"></app-loading>