@inject IMAINService _MAINService
@inject CookieHelper CookieHelper
@inject IH03Service _H03Service
@{
    string version = GlobalHelper.InitializationDateTimeCode;
    bool IsButtonfind = false;
    bool IsButtonadd = false;
    bool IsButtonsave = false;
    bool IsButtondelete = false;
    bool IsButtoncancel = false;
    bool IsButtoninport = false;
    bool IsButtonexport = false;
    bool IsButtonprint = false;

    BaseResult BaseResult = new BaseResult();
    BaseParameter BaseParameter = new BaseParameter();
    string url = "H03";
    try
    {
        //truyền biến User ID thay thê cho Cookeis đẻ lấy phan quyền action cho button
        BaseParameter.USER_IDX = CookieHelper.GetCookie(GlobalHelper.USER_IDX) ?? string.Empty;
        BaseResult = await _MAINService.Main_Shown(BaseParameter);
        if (BaseResult.ListtsauthTranfer != null)
        {
            BaseResult.tsauthTranfer = BaseResult.ListtsauthTranfer.Where(o => o.SCRN_PATH == url).FirstOrDefault();
            if (BaseResult.tsauthTranfer != null)
            {
                IsButtonfind = bool.Parse(BaseResult.tsauthTranfer.IQ_AUTH_YN);
                IsButtonadd = bool.Parse(BaseResult.tsauthTranfer.RGST_AUTH_YN);
                IsButtonsave = bool.Parse(BaseResult.tsauthTranfer.MDFY_AUTH_YN);
                IsButtondelete = bool.Parse(BaseResult.tsauthTranfer.DEL_AUTH_YN);
                IsButtoncancel = bool.Parse(BaseResult.tsauthTranfer.CAN_AUTH_YN);
                IsButtoninport = bool.Parse(BaseResult.tsauthTranfer.EXCL_AUTH_YN);
                IsButtonexport = bool.Parse(BaseResult.tsauthTranfer.DNLD_AUTH_YN);
                IsButtonprint = bool.Parse(BaseResult.tsauthTranfer.PRNT_AUTH_YN);
            }
        }
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
    try
    {
        BaseResult = await _H03Service.Load();
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
}

@{
    ViewData["Title"] = @MES_MVC.Resources.Resource.GetObject(url) + " (" + url + ")";
}
<style>
    .input-spacing {
        margin-right: 24px !important;
    }
</style>

<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12 d-flex" style="display: flex; align-items: center;">
                    <button id="Button2" class="btn waves-effect waves-light blue darken-1 input-spacing">
                        <i class="material-icons">autorenew</i> Reload
                    </button>

                    <input type="date" id="DateTimePicker1" class="form-control input-spacing" style="width:180px;" />

                    <button id="Button1" class="btn waves-effect waves-light green darken-1 input-spacing">
                        <i class="material-icons">refresh</i> Search
                    </button>

                    <select id="MachineFilter" class="browser-default form-select" style="width:100px;">
                        <option value="ALL" selected>ALL</option>
                        <option value="CUTTING">CUTTING</option>
                        <option value="FA">FA</option>
                    </select>

                    <label id="Label1" style="margin-bottom: 0; font-weight: bold;">
                        Factory 1
                    </label>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="col s12 m12 l12">
                    <div class="KhungOverflow10" style="overflow-x:auto; margin-top: 24px;">
                        <table class="responsive-table striped bordered" id="DataGridView2">
                            <thead id="DataGridView2Header">
                                <tr>
                                    <th>Hour</th>
                                    <th class="cutting-machine">A801</th>
                                    <th class="cutting-machine">A802</th>
                                    <th class="cutting-machine">A803</th>
                                    <th class="cutting-machine">A804</th>
                                    <th class="cutting-machine">A805</th>
                                    <th class="cutting-machine">A806</th>
                                    <th class="cutting-machine">A807</th>
                                    <th class="cutting-machine">A808</th>
                                    <th class="cutting-machine">A809</th>
                                    <th class="cutting-machine">A810</th>
                                    <th class="cutting-machine">A811</th>
                                    <th class="cutting-machine">A812</th>
                                    <th class="cutting-machine">A813</th>
                                    <th class="cutting-machine">A814</th>
                                    <th class="cutting-machine">A815</th>
                                    <th class="cutting-machine">A816</th>
                                    <th class="fa-machine">A830</th>
                                    <th class="fa-machine">A831</th>
                                    <th class="fa-machine">A832</th>
                                    <th class="fa-machine">A833</th>
                                    <th class="cutting-machine">A501</th>
                                    <th class="cutting-machine">A502</th>
                                    <th>SUM</th>
                                </tr>
                            </thead>
                            <tbody id="DataGridView2Body">
                                <!-- Data will be loaded by JS -->
                            </tbody>
                        </table>
                    </div>
                    <div class="KhungOverflow60" style="overflow-x:auto;">
                        <table class="responsive-table striped bordered" id="DataGridView1">
                            <thead id="DataGridView1Header">
                                <tr>
                                    <th>Hour</th>
                                    <th class="cutting-machine">A801</th>
                                    <th class="cutting-machine">A802</th>
                                    <th class="cutting-machine">A803</th>
                                    <th class="cutting-machine">A804</th>
                                    <th class="cutting-machine">A805</th>
                                    <th class="cutting-machine">A806</th>
                                    <th class="cutting-machine">A807</th>
                                    <th class="cutting-machine">A808</th>
                                    <th class="cutting-machine">A809</th>
                                    <th class="cutting-machine">A810</th>
                                    <th class="cutting-machine">A811</th>
                                    <th class="cutting-machine">A812</th>
                                    <th class="cutting-machine">A813</th>
                                    <th class="cutting-machine">A814</th>
                                    <th class="cutting-machine">A815</th>
                                    <th class="cutting-machine">A816</th>
                                    <th class="fa-machine">A830</th>
                                    <th class="fa-machine">A831</th>
                                    <th class="fa-machine">A832</th>
                                    <th class="fa-machine">A833</th>
                                    <th class="cutting-machine">A501</th>
                                    <th class="cutting-machine">A502</th>
                                    <th>SUM</th>
                                </tr>
                            </thead>
                            <tbody id="DataGridView1Body">
                                <!-- Data will be loaded by JS -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/H03.js?v=@version"></script>